{% extends 'polls/base_template.html' %}

{% block content %}

<p><a style="margin-left: 20px; margin-top: 20px;" class="btn btn-primary btn-dark rounded-0" href="/blog">Back to blogs</a></p>
<h1><p align="center" style="color:#000000" class="p-3">
    {{ post.title }}</h1>
<div align="center">
    <p><a class="btn btn-primary btn-dark rounded-0" href="{% url 'post_edit' post.pk %}">Update post</a>
        <a class="btn btn-primary btn-dark rounded-0" href="{% url 'post_delete' post.pk %}">Delete post</a></p>
</div>

    <p style="margin-top: 70px;" align="center"><img src="{{post.image.url}}"></p>

<p style="margin-top: 40px;" align="center">{{ post.body }}</p>

   <p></p>

{% endblock content %}